/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*START PROJECT - FOOD SERVICE****************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*Fonts connect - food service*/
@font-face {
    font-family: 'Muller Black';
    src: url(/fonts/MullerBlack.ttf);
}
@font-face {
    font-family: 'Muller BlackItalic';
    src: url(/fonts/MullerBlackItalic.ttf);
}
@font-face {
    font-family: 'Muller Bold';
    src: url(/fonts/MullerBold.ttf);
}
@font-face {
    font-family: 'Muller BoldItalic';
    src: url(/fonts/MullerBoldItalic.ttf);
}
@font-face {
    font-family: 'Muller Regular';
    src: url(/fonts/MullerRegular.ttf);
}
@font-face {
    font-family: 'Muller BoldItalic';
    src: url(/fonts/MullerBoldItalic.ttf);
}
@font-face {
    font-family: 'Muller Hairline';
    src: url(/fonts/MullerHairline.ttf);
}
@font-face {
    font-family: 'Muller Light';
    src: url(/fonts/MullerLight.ttf);
}
/*KeyFrames - food service*/
@keyframes slow {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
@keyframes slow_2 {
  0% {opacity: 0;}
  50% {opacity: 0.3;}
  100% {opacity: 1;}
}

/*Color - food service*/
$border: rgb(255, 105, 87);
$black: rgb(0, 0, 0);
$blackOp: rgba(0, 0, 0, 0.8);
$blackAspect: rgb(8, 10, 8);
$white: rgb(255, 255, 255);

/*Pre settings - food service*/
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Muller';
}
a {
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
}
.content {
    padding: 0px calc((100% - 1140px)/2) 0;
}
html {
    scroll-behavior: smooth;
}
/*Header - food service*/

header>.content {
    padding: 5px calc((100% - 1140px)/2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
        font-family: 'Muller Light';
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }
    .tel {
        color: $black;
        font-family: 'Muller Light';
        font-weight: 600;
        font-size: 20px;
        &:hover {
            color: $border;
            transition: all 0.4s;
        }
    }
}
aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}
.header_two>.content {
    position: absolute;
    width: 100%;
    padding: 0px calc((100% - 1140px)/2) 0;
    .header_two_nav {
        width: 100%;
        font-family: 'Muller Light';
        #nav {
            display: flex;
            justify-content: space-between;
            background-color: $blackOp;
            padding: 20px;
            .nav_item>svg>path {
                width: 20px;
                &:hover {
                    color: $border;
                    transition: all 0.4s;
                    fill: $border;
                }
            }
            .nav_link:focus {
                color: $border;
            }
            /*Submenu*/
            .dropdown {
                float: left;
                overflow: hidden;
            }
            .dropdown .nav_item {
                font-size: 17px;    
                border: none;
                outline: none;
                color: white;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                &:hover {
                    color: $border;
                    transition: all 0.4s;
                    fill: $border;
                    cursor: pointer;
                }
            }
            .dropdown-content {
                content: " ";
                display: none;
                position: absolute;
                background-color: #16161663;
                border-radius: 25px;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
                z-index: 1;
                padding-top: 20px;
                margin-left: -20px;
                padding-top: 20px;
            }
            .dropdown-content a {
                float: none;
                color: $white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            .topnav a:hover, .dropdown:hover .dropbtn {
                background-color: #555;
                color: white;
              }
              
                .dropdown-content a:hover {
                    color: $border;
                    transition: all 0.4s;
                    fill: $border;
                    cursor: pointer;
                }
              
              .dropdown:hover .dropdown-content {
                  display: block;
              }
            @media screen and (max-width: 600px) {
                .nav.responsive {
                    position: relative;
                }
                .nav.responsive .icon {
                  position: absolute;
                  right: -15px;
                  top: 15px;
                }
                .nav.responsive a {
                  float: none;
                  display: block;
                  text-align: left;
                }
                .nav.responsive .dropdown {
                    float: none;
                }
                .nav.responsive .dropdown-content {
                    position: relative;
                }
                .nav.responsive .dropdown .dropbtn {
                  display: block;
                  width: 100%;
                  text-align: left;
                }
              }
             /*Submenu*/
            a {
                color: $white;
                &:hover {
                    color: $border;
                    transition: all 0.4s;
                }
            }
        }
    }
}
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*MAIN- FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
main {
    display: block;
    width: 100%;
    /*Чтобы изображение оставалось на месте делать его через background*/
    .main_section {
        display: block;
        background-color: black;
        text-align: center;
        background-image: url(../images/fon1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        .title_form {
            text-align: start;
            .animation_fade {
                animation-name: slow;
                animation-duration: 0.8s;
                animation-timing-function: linear;
            }    
            h1 {
                display: flex;
                flex-direction: column;
                padding-top: 300px;
                color: $white;
                font-size: 40px;
            }
            .title_after {
                display: flex;
                flex-direction: column;
                color: $white;
                font-size: 18px;
                margin-top: 25px;
            }
            .form_name_tel {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                margin-top: 30px;
                animation-name: slow_2;
                animation-duration: 0.8s;
                animation-timing-function: linear;
                .nameInpt {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-right: 15px;
                    color: $white;
                    input {
                        background: none;
                        border: none;
                        min-width: 230px;
                        max-width: 250px;
                        height: 50px;
                        background: #000;
                        border: 1px solid #fff;
                        padding: 0px 17px;
                        box-sizing: border-box;
                        color: $white;
                        font-size: 1rem;
                        &:focus {
                            outline: none;
                        }
                    }
                    .not_name {
                        display: none;
                        position: absolute;
                        top: 110%;
                        color: red;
                    }
                }
                
                button {
                    color: #ff6957;
                    border: 3px solid #ff6957;
                    background-color: transparent;
                    font-weight: 600;
                    font-size: 14px;
                    width: 200px;
                    height: 50px;
                    padding: 0 15px;
                    display: block;
                    box-sizing: border-box;
                    cursor: pointer;
                }               
            }
            .form_action >.agreement {
                display: flex;
                margin-top: 30px;
                padding-bottom: 93px;
                align-items: center;
                animation-name: slow_2;
                animation-duration: 0.8s;
                animation-timing-function: linear;
                a {
                    color: $white;
                    border-bottom: 1px dashed $white;
                    cursor: pointer;
                }
                p {
                    color: $white;
                }
                input {
                    margin-right: 8px;
                    cursor: pointer;
                }
            }
        }
        .content {
            padding: 0px calc((100% - 1140px)/2) 0;
            
        }
    }
    .title_next_block {
        text-align: center;
        margin-top: 20px;
        .next_block {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 45px 0;
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
            &::before {
                content: '';
                position: absolute;
                width: 140px;
                height: 1px;
                background-color: #000;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: block;
            }
            &::after {
                content: '';
                position: absolute;
                width: 140px;
                height: 1px;
                background-color: #000;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: block;
            }
        }
    }
    .katering {
        width: 100%;
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            .first {
                position: relative;
                a {
                    font-family: 'Muller';
                    font-weight: 600;
                    font-size: 18px;
                    position: absolute;
                    left: 35%;
                    top: 45%;
                    background: rgba(0, 0, 0, 0.7);
                    border: 1.5px solid #FFFFFF;
                    color: $white;
                    padding: 20px 44px;
                    &:hover {
                        color: $border;
                        transition: all 0.4s;
                        cursor: pointer;
                        border-color: $border;
                    }
                }
            }
            .first>img {
                width: 99%;
            }
            .second {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 548px;
                img {
                    width: 100%;
                }
                .block_weeding {
                    position: relative;
                    a {
                        font-family: 'Muller';
                        font-weight: 600;
                        font-size: 18px;
                        position: absolute;
                        left: 30%;
                        top: 40%;
                        background: rgba(0, 0, 0, 0.7);
                        border: 1.5px solid #FFFFFF;
                        color: $white;
                        padding: 20px 44px;
                        &:hover {
                            color: $border;
                            transition: all 0.4s;
                            cursor: pointer;
                            border-color: $border;
                        }
                    }
                }
                .block_party {
                    position: relative;
                    a {
                        font-family: 'Muller';
                        font-weight: 600;
                        font-size: 18px;
                        position: absolute;
                        left: 30%;
                        top: 40%;
                        background: rgba(0, 0, 0, 0.7);
                        border: 1.5px solid #FFFFFF;
                        color: $white;
                        padding: 20px 44px;
                        &:hover {
                            color: $border;
                            transition: all 0.4s;
                            cursor: pointer;
                            border-color: $border;
                        }
                    }
                }
            }
        }
    }
    .title_before_katering {
        height: 80px;
        text-align: center;
        margin: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menu_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                transform: scale(1.2);
            }
        }
        .buffet, .kids, .bar {
            position: relative;
            display: block;
            overflow: hidden;
            margin-bottom: 15px;
            .back {
                display: flex;
                justify-content: center;
                align-items: center;
                height: fit-content;
            }
            p {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-size: 22px;
                font-weight: 500;
                text-transform: uppercase;
                opacity: 0;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .more {
        width: 20%;
        min-width: 222px;
        display: block;
        border: 3px solid #FD7043;
        background: none;
        padding: 20px 41px;
        color: $border;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px auto;
        &:hover {
            border-color: $black;
            color: $black;
            cursor: pointer;
            transition: 0.3s;
        }
    }
    .thrid_block {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .wrap_left_part {
            width: 70%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .left_part, .left_part2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .left_part2 {
                align-items: end;
            }
            img {
                width: 95%;
                min-width: 300px;
            }
        }
    }
    .call_back {
        width: 100%;
        margin-top: 20px;
        h2, p {
            text-align: center;
        }
        p {
            margin-top: 20px;
        }
        .send_call_back {
            border: 7px solid $black;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 400px;
            margin: 20px calc((100% - 900px)/2) 0;
    
            .name_email, .tel_adress {
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    border: none;
                    border-bottom: 1px solid $black;
                    padding: 15px;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .date_time {
                display: flex;
                justify-content: space-around;
                border: none;
                padding: 15px;
                font-size: 16px;
            }
            .party_person {
                display: flex;
                justify-content: space-around;
                border: none;
            }
            .wrapp_Box {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
/*FOOTER - FOOD SERVICE*/
.footer {
    width: 100%;
    background: $black;
    color: $white;
    align-items: center;
    padding-top: 15px;
    margin-top: 20px;
    .footer_content {
        padding: 0 calc((100% - 1140px)/2) 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .block1_footer {
            text-align: start;
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            a {
                line-height: 1.2;
                color: $white;
                cursor: pointer;
                &:hover {
                    color: $border;
                    transition: all 0.4s;
                }
            }
            img {
                margin-bottom: 15px;
            }
            .city {
                margin-top: 15px;
            }
        }
        .block2_footer {
            padding-top: 55px;
            text-align: start;
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            .social {
                margin-top: 15px;
            }
        }
        .block3_footer {
            text-align: end;
            padding-top: 55px;
            line-height: 1.2;
            .agree2 {
                display: flex;
                flex-direction: column;
            }
            .agree2 {
                margin-top: 15px;
                a {
                    color: $white;
                    cursor: pointer;
                    line-height: 1.2;
                    &:hover {
                        color: $border;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*MAIN PRIVACY SECTION - FOOD SERVICE*********************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_privacy {
    display: block;
    width: 100%;
    .main_privacy_section {
        width: 100%;
        background-image: url(/images/fon2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1140px;
        height: 500px;
        
    }
    .title_privacy {
        margin-top: 20px;
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*ALL CATEGORY - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_category {
    display: block;
    width: 100%;
    .main_category_section {
        width: 100%;
        background-image: url(/images/large-45.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1140px;
        height: 430px;   
    }
    .title_category {
        width: 100%;

        h2 {
            margin: 20px 0 20px 0;
        }
        .nav_category {
            margin-bottom: 20px !important;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid #000;
            .first_nav {
                display: block;
                padding: 5px 10px 15px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;
                color: $black;
                cursor: pointer;
                &:hover {
                    transition: all 0.4s;
                    color: $border;
                }
                .tab_active {
                    display: block;
                }
            }
        }
        .catolog_page > .info {
            display: none;
        }
        .catolog_page > .content_active {
            display: block;
        }

    }
}
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*CORP PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_corp {
    display: block;
    width: 100%;
    .main_corp_section {
        width: 100%;
        background-image: url(/images/131.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1140px;
        height: 430px;   
    }
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*WEEDING PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_weeding {
    display: block;
    width: 100%;
    .main_weeding_section {
        width: 100%;
        background-image: url(/images/132.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1140px;
        height: 430px;   
    }
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*PARTY PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/

.main_party {
    display: block;
    width: 100%;
    .main_party_section {
        width: 100%;
        background-image: url(/images/133.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1140px;
        height: 430px;   
    }
}