@charset "UTF-8";
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*START PROJECT - FOOD SERVICE****************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*Fonts connect - food service*/
@font-face {
  font-family: "Muller Bold";
  src: url(/fonts/MullerBold.ttf);
}
@font-face {
  font-family: "Muller Regular";
  src: url(/fonts/MullerRegular.ttf);
}
@font-face {
  font-family: "Muller Light";
  src: url(/fonts/MullerLight.ttf);
}
/*KeyFrames - food service*/
@keyframes slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slow_2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/*Color - food service*/
/*Pre settings - food service*/
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muller Light";
}

a {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

.content {
  padding: 0px calc((100% - 1140px) / 2) 0;
}

html {
  scroll-behavior: smooth;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/*Header - food service*/
header > .content {
  padding: 5px calc((100% - 1140px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header > .content p {
  font-family: "Muller Light";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
header > .content .tel {
  color: rgb(0, 0, 0);
  font-family: "Muller Light";
  font-weight: 600;
  font-size: 20px;
}
header > .content .tel:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
}

aside {
  position: sticky;
  top: 0;
  z-index: 5;
}

.header_two > .content {
  position: absolute;
  width: 100%;
  padding: 0px calc((100% - 1140px) / 2) 0;
}
.header_two > .content .header_two_nav {
  width: 100%;
  font-family: "Muller Light";
}
.header_two > .content .header_two_nav #nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  /*Submenu*/
  /*Submenu*/
}
.header_two > .content .header_two_nav #nav .nav_item > svg > path {
  width: 20px;
}
.header_two > .content .header_two_nav #nav .nav_item > svg > path:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  fill: rgb(255, 105, 87);
}
.header_two > .content .header_two_nav #nav .nav_link:focus {
  color: rgb(255, 105, 87);
}
.header_two > .content .header_two_nav #nav .dropdown {
  float: left;
  overflow: hidden;
}
.header_two > .content .header_two_nav #nav .dropdown .nav_item {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.header_two > .content .header_two_nav #nav .dropdown .nav_item:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  fill: rgb(255, 105, 87);
  cursor: pointer;
}
.header_two > .content .header_two_nav #nav .dropdown-content {
  content: " ";
  display: none;
  position: absolute;
  background-color: rgba(22, 22, 22, 0.3882352941);
  border-radius: 25px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding-top: 20px;
  margin-left: -20px;
  padding-top: 20px;
}
.header_two > .content .header_two_nav #nav .dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.header_two > .content .header_two_nav #nav .topnav a:hover, .header_two > .content .header_two_nav #nav .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}
.header_two > .content .header_two_nav #nav .dropdown-content a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  fill: rgb(255, 105, 87);
  cursor: pointer;
}
.header_two > .content .header_two_nav #nav .dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .header_two > .content .header_two_nav #nav .nav.responsive {
    position: relative;
  }
  .header_two > .content .header_two_nav #nav .nav.responsive .icon {
    position: absolute;
    right: -15px;
    top: 15px;
  }
  .header_two > .content .header_two_nav #nav .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .header_two > .content .header_two_nav #nav .nav.responsive .dropdown {
    float: none;
  }
  .header_two > .content .header_two_nav #nav .nav.responsive .dropdown-content {
    position: relative;
  }
  .header_two > .content .header_two_nav #nav .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.header_two > .content .header_two_nav #nav a {
  color: rgb(255, 255, 255);
}
.header_two > .content .header_two_nav #nav a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*MAIN- FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
main {
  display: block;
  width: 100%;
  /*Чтобы изображение оставалось на месте делать его через background*/
}
main .main_section {
  display: block;
  background-color: black;
  text-align: center;
  background-image: url(../images/fon1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
main .main_section .title_form {
  text-align: start;
}
main .main_section .title_form .animation_fade {
  animation-name: slow;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
main .main_section .title_form h1 {
  font-family: "Muller Bold";
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  color: rgb(255, 255, 255);
  font-size: 40px;
}
main .main_section .title_form .title_after {
  font-family: "Muller Light";
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-top: 25px;
  line-height: 1.5;
}
main .main_section .title_form .form_name_tel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 30px;
  animation-name: slow_2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
main .main_section .title_form .form_name_tel .nameInpt {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  color: rgb(255, 255, 255);
}
main .main_section .title_form .form_name_tel .nameInpt input {
  background: none;
  border: none;
  min-width: 230px;
  max-width: 250px;
  height: 50px;
  background: #000;
  border: 1px solid #fff;
  padding: 0px 17px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
main .main_section .title_form .form_name_tel .nameInpt input:focus {
  outline: none;
}
main .main_section .title_form .form_name_tel .nameInpt .not_name {
  display: none;
  position: absolute;
  top: 110%;
  color: red;
}
main .main_section .title_form .form_name_tel button {
  color: #ff6957;
  border: 3px solid #ff6957;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}
main .main_section .title_form .form_action > .agreement {
  display: flex;
  margin-top: 30px;
  padding-bottom: 93px;
  align-items: center;
  animation-name: slow_2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
main .main_section .title_form .form_action > .agreement a {
  color: rgb(255, 255, 255);
  border-bottom: 1px dashed rgb(255, 255, 255);
  cursor: pointer;
}
main .main_section .title_form .form_action > .agreement p {
  color: rgb(255, 255, 255);
}
main .main_section .title_form .form_action > .agreement input {
  margin-right: 8px;
  cursor: pointer;
}
main .main_section .content {
  padding: 0px calc((100% - 1140px) / 2) 0;
}
main .title_next_block {
  text-align: center;
  margin-top: 20px;
}
main .title_next_block .next_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 45px 0;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
main .title_next_block .next_block::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
main .title_next_block .next_block::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
main .katering {
  width: 100%;
}
main .katering .wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
main .katering .wrapper .first {
  position: relative;
}
main .katering .wrapper .first a {
  font-family: "Muller Bold";
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  left: 35%;
  top: 45%;
  background: rgba(0, 0, 0, 0.7);
  border: 1.5px solid #FFFFFF;
  color: rgb(255, 255, 255);
  padding: 20px 44px;
}
main .katering .wrapper .first a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  cursor: pointer;
  border-color: rgb(255, 105, 87);
}
main .katering .wrapper .first > img {
  width: 99%;
}
main .katering .wrapper .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 548px;
}
main .katering .wrapper .second img {
  width: 100%;
}
main .katering .wrapper .second .block_weeding {
  position: relative;
}
main .katering .wrapper .second .block_weeding a {
  font-family: "Muller Bold";
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  left: 30%;
  top: 40%;
  background: rgba(0, 0, 0, 0.7);
  border: 1.5px solid #FFFFFF;
  color: rgb(255, 255, 255);
  padding: 20px 44px;
}
main .katering .wrapper .second .block_weeding a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  cursor: pointer;
  border-color: rgb(255, 105, 87);
}
main .katering .wrapper .second .block_party {
  position: relative;
}
main .katering .wrapper .second .block_party a {
  font-family: "Muller Bold";
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  left: 30%;
  top: 40%;
  background: rgba(0, 0, 0, 0.7);
  border: 1.5px solid #FFFFFF;
  color: rgb(255, 255, 255);
  padding: 20px 44px;
}
main .katering .wrapper .second .block_party a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
  cursor: pointer;
  border-color: rgb(255, 105, 87);
}
main .title_before_katering {
  height: 80px;
  text-align: center;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .menu_list img {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .menu_list img:hover {
  transform: scale(1.2);
}
main .menu_list .buffet, main .menu_list .kids, main .menu_list .bar {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
main .menu_list .buffet .back, main .menu_list .kids .back, main .menu_list .bar .back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
main .menu_list .buffet p, main .menu_list .kids p, main .menu_list .bar p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  transition: 0.3s;
}
main .menu_list .buffet p:hover, main .menu_list .kids p:hover, main .menu_list .bar p:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
main .more {
  width: 20%;
  min-width: 222px;
  display: block;
  border: 3px solid #FD7043;
  background: none;
  padding: 20px 41px;
  color: rgb(255, 105, 87);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto;
}
main .more:hover {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}
main .thrid_block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
main .thrid_block .wrapp_all:last-child {
  margin-bottom: 0;
  display: flow-root;
  box-sizing: content-box;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 9px;
  grid-template-areas: "a b g" "c d g" "e f g";
}
main .thrid_block .wrapp_all:last-child .wrap_left_part img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(1) {
  grid-area: f;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(2) {
  grid-area: a;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(3) {
  grid-area: b;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(4) {
  grid-area: c;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(5) {
  grid-area: d;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(6) {
  grid-area: e;
}
main .thrid_block .wrapp_all:last-child .wrap_left_part .grid_gallary:nth-child(7) {
  grid-area: g;
}
main .thrid_block .left_part, main .thrid_block .left_part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .thrid_block .left_part .left_part2, main .thrid_block .left_part2 .left_part2 {
  align-items: end;
}
main .thrid_block .left_part img, main .thrid_block .left_part2 img {
  width: 95%;
  min-width: 300px;
}
main .call_back {
  width: 100%;
  margin-top: 20px;
}
main .call_back h2, main .call_back p {
  text-align: center;
}
main .call_back p {
  margin-top: 20px;
}
main .call_back .custom_form {
  text-align: left;
  padding: 35px 55px;
}
main .call_back .custom_form .custom_border {
  text-align: left;
  padding: 35px 55px;
  border: 10px solid #000;
  position: relative;
}
main .call_back .custom_form .custom_border::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 150px;
  background-color: #fff;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
main .call_back .custom_form .custom_form_main {
  display: flex;
  flex-wrap: wrap;
}
main .call_back .custom_form .custom_form_main .appl_input_group {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 18px;
  display: block;
  padding: 0 15px;
  text-align: left;
  line-height: 1.55;
}
main .call_back .custom_form .custom_form_main .appl_input_group .control_label {
  display: block;
  margin-bottom: 5px;
}
main .call_back .custom_form .custom_form_main .appl_input_group .inpt_control {
  display: block;
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 16px;
}
main .call_back .custom_form .custom_form_main .appl_input_group .inpt_control:focus {
  outline: none;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp {
  display: flex;
  align-items: center;
  text-align: left;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp .js-counter-input-appl__minus {
  color: #000;
  padding: 10px;
  cursor: pointer;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp .js-counter-input-appl__minus svg:not(:root) {
  overflow: hidden;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp input {
  margin: 0 8px;
  text-align: center;
  display: block;
  height: 50px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 1rem;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp .js-counter-input-appl__plus {
  color: #000;
  padding: 10px;
  cursor: pointer;
}
main .call_back .custom_form .custom_form_main .appl_input_group .custom_coumter_inpt_wrapp .js-counter-input-appl__plus svg:not(:root) {
  overflow: hidden;
}
main .call_back .custom_form .custom_form_main .appl_input_group .uk_icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}
main .call_back .custom_form .custom_border::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 150px;
  background-color: #fff;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
main .call_back .custom_form .custom_appl_input {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .call_back .custom_form .custom_appl_input .fw-accept, main .call_back .custom_form .custom_appl_input .fw-checkbox {
  margin-bottom: 35px;
}
main .call_back .custom_form .custom_appl_input .accept {
  cursor: pointer;
  display: block;
}
main .call_back .custom_form .fw-btn {
  color: #ff6957;
  border: 3px solid #ff6957;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px auto;
}
main .call_back .custom_form .fw-btn:hover {
  color: rgb(0, 0, 0);
  transition: all 0.4s;
  cursor: pointer;
  border-color: rgb(0, 0, 0);
}

/*FOOTER - FOOD SERVICE*/
.footer {
  width: 100%;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  align-items: center;
  padding-top: 15px;
  margin-top: 20px;
}
.footer .footer_content {
  padding: 0 calc((100% - 1140px) / 2) 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer .footer_content .block1_footer {
  text-align: start;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.footer .footer_content .block1_footer a {
  line-height: 1.2;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.footer .footer_content .block1_footer a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
}
.footer .footer_content .block1_footer img {
  margin-bottom: 15px;
}
.footer .footer_content .block1_footer .city {
  margin-top: 15px;
}
.footer .footer_content .block2_footer {
  padding-top: 55px;
  text-align: start;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.footer .footer_content .block2_footer .social {
  margin-top: 15px;
}
.footer .footer_content .block3_footer {
  text-align: end;
  padding-top: 55px;
  line-height: 1.2;
}
.footer .footer_content .block3_footer .agree2 {
  display: flex;
  flex-direction: column;
}
.footer .footer_content .block3_footer .agree2 {
  margin-top: 15px;
}
.footer .footer_content .block3_footer .agree2 a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  line-height: 1.2;
}
.footer .footer_content .block3_footer .agree2 a:hover {
  color: rgb(255, 105, 87);
  transition: all 0.4s;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*MAIN PRIVACY SECTION - FOOD SERVICE*********************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_privacy {
  display: block;
  width: 100%;
}
.main_privacy .main_privacy_section {
  width: 100%;
  background-image: url(/images/fon2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 500px;
}
.main_privacy .title_privacy {
  margin-top: 20px;
}
.main_privacy .title_privacy h2 {
  text-align: center;
  margin-bottom: 20px;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*ALL CATEGORY - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_category {
  display: block;
  width: 100%;
}
.main_category .main_category_section {
  width: 100%;
  background-image: url(/images/large-45.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 430px;
}
.main_category .title_category {
  width: 100%;
}
.main_category .title_category h2 {
  margin: 20px 0 20px 0;
}
.main_category .title_category .nav_category {
  margin-bottom: 20px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #000;
}
.main_category .title_category .nav_category .first_nav {
  display: block;
  padding: 5px 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  height: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.main_category .title_category .nav_category .first_nav:hover {
  transition: all 0.4s;
  color: #FD7043;
}
.main_category .title_category .nav_category .first_nav .tab_active {
  display: block;
}
.main_category .title_category .catolog_page > .info {
  display: none;
  width: 100%;
}
.main_category .title_category .catolog_page > .info .container_menu_tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab img {
  margin-bottom: 20px;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab h3 {
  margin-bottom: 20px;
  text-align: center;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab .about_eat {
  display: block;
  text-align: center;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab .price {
  font-family: "Muller Bold";
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab .buttons_cart {
  display: flex;
  justify-content: space-around;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab .buttons_cart .btn_cart {
  color: #ff6957;
  border: 3px solid #ff6957;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  height: 50px;
  padding: 0 25px;
  display: block;
  cursor: pointer;
}
.main_category .title_category .catolog_page > .info .container_menu_tab .tab .buttons_cart .more_info {
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  background-color: transparent;
  font-family: "Muller Bold";
  font-weight: 600;
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main_category .title_category .catolog_page > .content_active {
  display: block;
}
.main_category .title_category .form_icon {
  background: none;
  border: none;
}
.main_category .title_category .filter_container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 9px 15px;
  position: relative;
}
.main_category .title_category .filter_container::before {
  content: "";
  background-image: url(../images/icons8-search.svg);
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 5px;
  width: 100%;
  height: 100%;
}
.main_category .title_category .filter_container .search {
  width: 90%;
  position: relative;
  z-index: 5;
  background: none;
  border: none;
}
.main_category .title_category .filter_container .search:focus {
  outline: none;
}
.main_category .title_category .not {
  display: none;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*CORP PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_corp {
  display: block;
  width: 100%;
}
.main_corp .main_corp_section {
  width: 100%;
  background-image: url(/images/131.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 430px;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*WEEDING PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_weeding {
  display: block;
  width: 100%;
}
.main_weeding .main_weeding_section {
  width: 100%;
  background-image: url(/images/132.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 430px;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*PARTY PAGE - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_party {
  display: block;
  width: 100%;
}
.main_party .main_party_section {
  width: 100%;
  background-image: url(/images/133.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 430px;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*LC - FOOD SERVICE**************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.lc_box {
  margin-top: 80px;
}
.lc_box .container_lc > .auth {
  width: 100%;
  padding: 40px;
  display: block;
  margin: 0 auto;
}
.lc_box .form-wrap {
  width: 450px;
  margin: 82px auto 0 auto;
  position: relative;
}
.lc_box .form-wrap form {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 2em;
}
.lc_box .form .tab {
  position: absolute;
  bottom: 100%;
  width: 50%;
  text-align: center;
  padding: 1em 0;
  cursor: pointer;
  color: #aaa;
}
.lc_box .form.active .tab {
  border-radius: 20px 20px 0 0;
  background: white;
  color: black;
}
.lc_box form {
  display: none;
  flex-direction: column;
  gap: 16px;
}
.lc_box .form.active form {
  display: flex;
}
.lc_box #form1.active form {
  border-top-right-radius: 20px;
}
.lc_box #form2.active form {
  border-top-left-radius: 20px;
}
.lc_box #form1 .tab {
  left: 0;
}
.lc_box #form2 .tab {
  left: 50%;
}
.lc_box button {
  display: block;
  margin: 0 auto;
  padding: 0.5em 2em;
  margin-top: 1em;
}
.lc_box .sendBtn {
  color: #ff6957;
  border: 3px solid #ff6957;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}
.lc_box .sendBtn:hover {
  transition: all 0.4s;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}
.lc_box input {
  width: 100%;
  padding: 5px;
}
.lc_box label {
  display: block;
  margin-bottom: 0.4em;
}

/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*OTHER SECTION - FOOD SERVICE*********************************************************************************************************************/
/*********************************************************************************************************************************************************/
/*********************************************************************************************************************************************************/
.main_other {
  display: block;
  width: 100%;
}
.main_other .main_other_section {
  width: 100%;
  background-image: url(/images/fon2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1140px;
  height: 500px;
}
.main_other .title_other {
  margin-top: 20px;
}
.main_other .title_other h2 {
  text-align: center;
  margin-bottom: 20px;
}
.main_other .title_other p {
  text-align: center;
  margin-bottom: 20px;
}
.main_other .title_other .other_block {
  width: 100%;
}
.main_other .title_other .other_block .container_menu_other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_other .title_other .other_block .container_menu_other .tab_other {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.main_other .title_other .other_block .container_menu_other .tab_other img {
  margin-bottom: 20px;
  cursor: pointer;
}
.main_other .title_other .other_block .container_menu_other .tab_other h3 {
  margin-bottom: 20px;
  text-align: center;
}
.main_other .title_other .other_block .container_menu_other .tab_other .about_eat {
  display: block;
  text-align: center;
}
.main_other .title_other .other_block .container_menu_other .tab_other .order_btn {
  color: #ff6957;
  border: 3px solid #ff6957;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  height: 50px;
  padding: 15px 25px;
  display: block;
  cursor: pointer;
}
.main_other .title_other .other_block .container_menu_other .tab_other .order_btn:hover {
  transition: all 0.4s;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */